# Views

snippet hook_views_ajax_data_alter "hook_views_ajax_data_alter"
/**
 * Implements hook_views_ajax_data_alter().
 */
function `!v expand('%:t:r:r')`_views_ajax_data_alter(&$commands, &$view) {
	$0
}
endsnippet
